<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shaan.daffy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SocialImpression">

        <activity android:name="com.shaan.daffy.MessageActivity" />
        <activity android:name="com.shaan.daffy.ChatActivity" />
        <activity android:name="com.shaan.daffy.AboutUs" />
        <activity
            android:name="com.shaan.daffy.PostActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name="com.shaan.daffy.AnswerActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name="com.shaan.daffy.ReplyActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name="com.shaan.daffy.YourQuestions"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name="com.shaan.daffy.Related"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name="com.shaan.daffy.AskActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name="com.shaan.daffy.ImageActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name="com.shaan.daffy.PrivacyActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name="com.shaan.daffy.UpdateProfile"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name="com.shaan.daffy.CreateProfile"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name="com.shaan.daffy.LoginActivity" />
        <activity android:name="com.shaan.daffy.splashscreen.SplashScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name="com.shaan.daffy.IndividualPost" />
        <activity android:name="com.shaan.daffy.ShowUser" />
        <activity android:name="com.shaan.daffy.DashboardActivity" />
        <activity android:name="com.shaan.daffy.RegisterActivity" />
        <activity android:name="com.shaan.daffy.MainActivity">

            </activity>

    </application>

</manifest>